@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: url(./Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}